#app {
  margin-top: 10px;
}

.warehouse {
  border: 1px solid black;
}

.row {
  display: flex;
  flex-direction: row;
}

.place {
  width: 10px;
  height: 10px;
  margin: 1px;
  border: 1px solid black;
}

.wall {
  background-color: grey;
}
